$glob_padding: 6em;
$media_less_padding: .5em;
$height_of_header: 6.5em;

$default_white: #ffffff;
$default_dark_gray: #282828;

$default_orange: darkorange;

$dark_white_text: #aaa;

$default_light_gray_text: #707173;
$default_text_gray_on_white: #646464;
$default_light_gray_bg: #cacaca;

$bg_animation: background-color 0.3s ease;

$nav_bg_hover: #e7e7e7;

////////////////////
$small: 600px;
$b_small: $small + 1;
$large: 1024px;
$l_large: $large - 1;
@mixin media_S {
  @media only screen and (max-width: $small) {
    @content;
  }
}

@mixin media_S_L {
  @media only screen and (max-width: $l_large) {
    @content;
  }
}

@mixin media_L {
  @media only screen and (min-width: $b_small) and (max-width: $l_large) {
    @content;
  }
}

@mixin media_XL {
  @media only screen and (min-width: $large) {
    @content;
  }
}

////////////////

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,600italic);

body {
  font: normal 100% 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  font-weight: 100;
}

h2 {
  font-weight: 100;
  line-height: normal;
}

h3 {
  font-weight: 100;
}

header {
  background: $default_white;
  height: $height_of_header;
  margin-top: 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.container-fluid {
  padding: 0 $glob_padding;
  @include media_S_L {
    padding: 0;
  }
  .row {
    .logo {
      @include media_S_L {
        text-align: center;
        width: 100%;
      }
    }
  }
}

.row > nav {
  float: right;
  margin-top: -3.1em;
  width: 70%;
  @include media_S_L {
    width: 100%;
    //text-align: center;
    //margin-top: 3.1em;
    margin-top: -.1em;
  }
}

.row > nav > div {
  float: right;
  width: 20%;
  height: 100%;
  position: relative;
  @include media_S_L {
    width: 33.333%;
  }
}

.row > nav > div > a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 3.1em;
  color: $default_light_gray_text;
  background-color: $default_white;
  text-transform: uppercase;
  text-decoration: none;
}

.row > nav > div:hover > a {
  transition: $bg_animation;
  background-color: $nav_bg_hover;
  cursor: pointer;
}

.row > nav > div > div {
  display: none;
  font-size: .9em;
  overflow: hidden;
  background-color: $nav_bg_hover;
  //width: 300%;
  //position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: .5em;
}

.row > nav > div:hover > div {
  display: block;
}

.row > nav > div > div > a {
  display: block;
  padding: 1.2em;
  margin: 5%;
  text-align: center;
  background-color: $default_white;
  color: $default_light_gray_text;
  transition: $bg_animation;
  text-decoration: none;
}

.row > nav > div > div > a:hover {
  background-color: $default_orange;
  color: $default_white;
  cursor: pointer;
}

.parallax-window {
  min-height: 40em;
  background: transparent;
  @include media_S_L {
    min-height: 20em;
  }
}

.main {
  z-index: 100;
  background: $default_dark_gray;
  padding: $glob_padding;
  font-family: 'Open Sans', sans-serif;
  color: $default_white;
  @include media_S_L {
    padding: 1em 1em;
  }
}

.wrapper-items {
  width: 100%;
  text-align: center;
}

.items {
  width: 100%;
  text-align: center;
  display: inline-block;
  a {
    color: $default_white;
  }
}

.columns-main-page {
  width: 23%;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding: 0 .4em;
  @include media_L {
    width: 44%;
    padding-bottom: 2em;
  }
  @include media_S {
    width: 100%;
    padding-bottom: 1em;

  }
}

.title-of-the-page {
  background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(224, 224, 224, 1) 65%, rgba(217, 217, 217, 1) 75%, rgba(207, 207, 207, 1) 100%);
  padding: 1em $glob_padding;
  @include media_S_L {
    padding: 1em 1em;
  }
  .wrapper-text {
    color: $default_dark_gray;
    h1 {
      font-weight: 600;
    }
  }
}

.main-page-text {
  p {
    color: $dark_white_text;
    font-weight: 300;
    @include media_S {
      text-align: justify;
    }
  }
}

.items-page {
  width: 100%;
  text-align: center;
}

.common-page {
  //background-color: $default_light_gray_bg;
  padding-left: $glob_padding;
  width: 100%;
  text-align: left;
  h3 {
    font-weight: 100;
  }
}

.wrapper-for-items {
  padding: 6em 0;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.wrapper-item {
  vertical-align: top;
  width: 23%;
  display: inline-block;
  @include media_L {
    width: 45%;
    padding-bottom: 2em;
  }
  @include media_S {
    width: 100%;
    padding-bottom: 2em;
  }
}

.header-item {
  color: $default_orange;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 1em;
}

.text-item {
  padding: 1em 0;
  color: $default_dark_gray;
}

.item-properties-page {
  padding: $glob_padding $glob_padding;
  @include media_S_L {
    padding: 1em;
  }

  .text-of-item {
    float: left;
    width: 60%;
    color: $default_text_gray_on_white;
    text-align: justify;
    @include media_S_L {
      width: 100%;
    }
    ul {
      list-style-type: square;
    }

    .pdf-instruction {
      margin: 1em 0;
      display: inline-block;
      img {
        float: left;
      }
      .text-instruction {
        float: left;
        line-height: 1.65;

        a {
          color: $default_orange;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .img-wrapper {
    float: right;
    width: 40%;
    position: relative;
    @include media_S_L {
      width: 100%;
      float: left;
    }
    .price {
      position: absolute;
      bottom: 15%;
      left: 40%;
      background: orange;
      padding: .8em;
      span {
        font-size: 1.5em;
        font-weight: 300;
        color: $default_white;
        text-transform: uppercase;
      }
    }
    img {
      max-width: 100%;
    }
  }
}

footer {
  width: 100%;
  background-color: $default_light_gray_bg;
  position: relative;
  font-size: 0.8em;
  padding: 3em 0;
  margin-top: 0;
  font-weight: 400;
  color: #7c7c7c;
  float: left;
  @include media_S_L {
  text-align: center;
  }
  .left-footer {
    float: left;
    display: inline-block;
    width: 30%;
    @include media_S_L {
      display: none;

    }
    img {
      padding-left: 15%;
    }
  }
  .center-footer {
    display: inline-block;
    float: left;
    width: 50%;
    @include media_S_L {
      display: none;
    }
  }
  .right-footer {
    display: inline-block;
    float: left;
    width: 20%;
    @include media_S_L {
      width: 100%;
      text-align: center;
      display: inline-block;
      font-size: 1.5em;
    }
  }
}