@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,600italic);
body {
  font: normal 100% 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  font-weight: 100; }

h2 {
  font-weight: 100;
  line-height: normal; }

h3 {
  font-weight: 100; }

header {
  background: #ffffff;
  height: 6.5em;
  margin-top: 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.5);
  z-index: 500; }

.container-fluid {
  padding: 0 6em; }
  @media only screen and (max-width: 1023px) {
    .container-fluid {
      padding: 0; } }
  @media only screen and (max-width: 1023px) {
    .container-fluid .row .logo {
      text-align: center;
      width: 100%; } }

.row > nav {
  float: right;
  margin-top: -3.1em;
  width: 70%; }
  @media only screen and (max-width: 1023px) {
    .row > nav {
      width: 100%;
      margin-top: -.1em; } }

.row > nav > div {
  float: right;
  width: 20%;
  height: 100%;
  position: relative; }
  @media only screen and (max-width: 1023px) {
    .row > nav > div {
      width: 33.333%; } }

.row > nav > div > a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 3.1em;
  color: #707173;
  background-color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

.row > nav > div:hover > a {
  transition: background-color 0.3s ease;
  background-color: #e7e7e7;
  cursor: pointer; }

.row > nav > div > div {
  display: none;
  font-size: .9em;
  overflow: hidden;
  background-color: #e7e7e7;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: .5em; }

.row > nav > div:hover > div {
  display: block; }

.row > nav > div > div > a {
  display: block;
  padding: 1.2em;
  margin: 5%;
  text-align: center;
  background-color: #ffffff;
  color: #707173;
  transition: background-color 0.3s ease;
  text-decoration: none; }

.row > nav > div > div > a:hover {
  background-color: darkorange;
  color: #ffffff;
  cursor: pointer; }

.parallax-window {
  min-height: 25em;
  background: transparent; }
  @media only screen and (max-width: 1023px) {
    .parallax-window {
      min-height: 20em; } }

.main {
  z-index: 100;
  background: #282828;
  padding: 6em;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff; }
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    .main {
      padding: 1em 1em; } }
  @media only screen and (max-width: 600px) {
    .main {
      padding: 0;
      margin: 0;
      background: #ffffff;
      color: #282828; } }

.wrapper-items {
  width: 100%;
  text-align: center; }

.items {
  width: 100%;
  text-align: center;
  display: inline-block; }
  .items a {
    color: #ffffff; }

.columns-main-page {
  width: 23%;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding: 0 .4em; }
  .columns-main-page:hover .wrapper-main-img > .price-main-page {
    transition: background-color 0.3s ease;
    background: darkorange;
    color: #ffffff; }
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    .columns-main-page {
      width: 44%;
      padding-bottom: 2em; } }
  @media only screen and (max-width: 600px) {
    .columns-main-page {
      width: 100%;
      padding: 0 0 5em 0; } }
  .columns-main-page .wrapper-main-img .price-main-page {
    font-size: 1.2em;
    background: #ffffff;
    color: #282828;
    text-align: center;
    padding: .3em 0;
    margin-top: 0; }
    @media only screen and (max-width: 600px) {
      .columns-main-page .wrapper-main-img .price-main-page {
        font-size: 2em;
        color: darkorange; } }
  @media only screen and (max-width: 600px) {
    .columns-main-page .title-thumb-item {
      padding: 0 1em;
      color: #282828;
      text-align: center; } }
  @media only screen and (max-width: 600px) {
    .columns-main-page .short-desc-item {
      color: #282828;
      padding: 1em;
      text-align: center; } }

.title-of-the-page {
  background: linear-gradient(to bottom, #fcfcfc 0%, #e0e0e0 65%, #d9d9d9 75%, #cfcfcf 100%);
  padding: 1em 6em; }
  @media only screen and (max-width: 1023px) {
    .title-of-the-page {
      padding: 1em 1em; } }
  .title-of-the-page .wrapper-text {
    color: #282828; }
    .title-of-the-page .wrapper-text h1 {
      font-weight: 600; }

.main-page-text {
  padding: 1em; }
  .main-page-text p {
    color: #aaa;
    font-weight: 300; }
    @media only screen and (max-width: 600px) {
      .main-page-text p {
        text-align: justify;
        color: #282828; } }

.items-page {
  width: 100%;
  text-align: center; }

.common-page {
  padding-left: 6em;
  text-align: left; }
  .common-page h3 {
    font-weight: 100; }

.wrapper-for-items {
  padding: 6em 0;
  width: 100%;
  text-align: center;
  display: inline-block; }

.wrapper-item {
  vertical-align: top;
  width: 23%;
  display: inline-block; }
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    .wrapper-item {
      width: 45%;
      padding-bottom: 2em; } }
  @media only screen and (max-width: 600px) {
    .wrapper-item {
      width: 100%;
      padding-bottom: 2em; } }

.header-item {
  color: darkorange;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 1em; }

.text-item {
  padding: 1em 0;
  color: #282828; }

.item-properties-page {
  padding: 6em 6em; }
  @media only screen and (max-width: 1023px) {
    .item-properties-page {
      padding: 1em; } }
  .item-properties-page .text-of-item {
    float: left;
    width: 60%;
    color: #646464;
    text-align: justify; }
    @media only screen and (max-width: 1023px) {
      .item-properties-page .text-of-item {
        width: 100%; } }
    .item-properties-page .text-of-item ul {
      list-style-type: square; }
    .item-properties-page .text-of-item .pdf-instruction {
      margin: 1em 0;
      display: inline-block; }
      .item-properties-page .text-of-item .pdf-instruction img {
        float: left; }
      .item-properties-page .text-of-item .pdf-instruction .text-instruction {
        float: left;
        line-height: 1.65; }
        .item-properties-page .text-of-item .pdf-instruction .text-instruction a {
          color: darkorange;
          text-decoration: none; }
        .item-properties-page .text-of-item .pdf-instruction .text-instruction a:hover {
          text-decoration: underline; }
  .item-properties-page .img-wrapper {
    float: right;
    width: 40%;
    position: relative; }
    @media only screen and (max-width: 1023px) {
      .item-properties-page .img-wrapper {
        width: 100%;
        float: left; } }
    .item-properties-page .img-wrapper .price {
      position: absolute;
      bottom: 10%;
      right: 0;
      background: orange;
      padding: 1em; }
      .item-properties-page .img-wrapper .price span {
        font-size: 2.5em;
        font-weight: 400;
        color: #ffffff;
        text-transform: uppercase; }
    .item-properties-page .img-wrapper img {
      max-width: 100%; }

footer {
  width: 100%;
  background-color: #cacaca;
  position: relative;
  font-size: 0.8em;
  padding: 3em 0;
  margin-top: 0;
  font-weight: 400;
  color: #7c7c7c;
  float: left; }
  @media only screen and (max-width: 1023px) {
    footer {
      text-align: center; } }
  footer .left-footer {
    float: left;
    display: inline-block;
    width: 30%; }
    @media only screen and (max-width: 1023px) {
      footer .left-footer {
        display: none; } }
    footer .left-footer img {
      padding-left: 15%; }
  footer .center-footer {
    display: inline-block;
    float: left;
    width: 50%; }
    @media only screen and (max-width: 1023px) {
      footer .center-footer {
        display: none; } }
  footer .right-footer {
    display: inline-block;
    float: left;
    width: 20%; }
    @media only screen and (max-width: 1023px) {
      footer .right-footer {
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 1.5em; } }

/*# sourceMappingURL=main.css.map */
