{% extends "layout_items.html" -%}
{%- block title -%}Комплект IRON I + ECON D1 {% endblock -%}
{% block description -%}Оборудование для сауны или бане в комплекте: электрическая печь для сауны IRON I и пульт управления EOS ECON D1{% endblock -%}
{%- block keywords -%}печи для сауны, печь для сауны, печи электрические для сауны, печь для сауны электрическая, печь, купить, Iron, I, monuments, iron i, econ, комплект, сауна, баня, еос, эос, eos{%- endblock -%}
{% block name_of_item %}Комплект IRON I + ECON D1 {% endblock %}
{% block little_desc_item %}{% endblock %}
{% block description_item %}
    <p>Готовый комплект оборудования для сауны: электрическая печь IRON I и пульт управления EOS Econ D1. Пульт управления ECON D1 – выпускает немецкий завод оборудования для саун EOS Saunatechnik GmbH. Традиционное качество и надежность, простой но стильный корпус, интуитивно понятное управление – все это сочетает в себе ECON D1. Походит для управления сауной в сухом (финском) режиме, как раз то что нужно для печи IRON I.</p>
    <br><hr><br>
    <p><h3>Электрическая печь для частных саун IRON I. Настенная модель </h3></p>
    <p> Компактная, стильная, современная электрическая печь для сауны. Разработка, тестовые испытания печи проходили в
        Германии. Огромное преимущество такой печи – увеличенный срок эксплуатации, благодаря внедрению немецких
        технологий. Корзина для камней находится над основанием нагревательных ТЭНов, соответственно нагревательный
        элемент не подвержен деформации.</p>

    <p>Корпус печи выполнен из качественной стали с покрытием глубокого, матового черного цвета, а внутренняя оболочка и
        корзина для камней изготовлены из нержавеющей стали. Компактные размеры позволяют осуществлять монтаж даже в
        небольших пространствах. Все это в сочетании с невысокой ценой делают печь IRON I фаворитом в своем сегменте.
        Заводская гарантия изготовителя на продукцию – 1 год. Электрическая печь IRON I подходит для саун от 6 до 14 м³,
        в зависимости от мощности печи.</p>
    <p><b>Технические характеристики:</b></p>
    <ul>
        <li>Напряжение: 400 V AC 3N 50Hz</li>
        <li>Потребляемая мощность: 6,0 / 7,5 / 9,0 кВт в зависимости от модели</li>
        <li>Высота: 64 см (*86 см с расстоянием до пола 22 см)</li>
        <li>Ширина: 44 см</li>
        <li>Глубина: 33 см</li>
        <li>Вес: 13 кг, без камней и упаковки</li>
        <li>Загрузка: до 15 кг (камни не входят в комплект поставки)</li>
        <li>Количество нагревательных тэнов: 3 шт</li>
    </ul>
    <br><hr><br>
    <p><h3>Пульт управления для электрических печей ECON D1.</h3></p>
    <p>Сухой режим. Пульт предназначен для использования в частных саунах.  Электронный пульт управления с цветным LCD дисплеем и мультиязычным меню навигации, включает 12 языков. Огромным преимуществом данного оборудования является простота его установки, эксплуатации и использования. Толщина ECON D1 всего 58 мм, что позволяет осуществлять как накладной, так и частично встроенный монтаж.</p>
    <p><b>Технические характеристики:</b></p>
    <ul>
        <li>Корпус: кремового цвета изготовлен из пластика</li>
        <li>Дисплей:  размер - 40 х 22 мм, с подсветкой</li>
        <li>Мультиязычное меню: 12 языков (включая немецкий, английский, французский, испанский, итальянский, русский, голландский, польский, финский, словацкий и чешский)</li>
        <li>Контроль температуры: двухточечный, цифровой</li>
        <li>Регулировка температуры: 40 – 115 °</li>
        <li>Функция ограничения нагрева при температуре 142 °С</li>
        <li>Время нагрева не более 6 ч.</li>
        <li>Максимальная коммутируемая мощность 9 kW</li>
        <li>Управление светом (max 100 W)</li>
        <li>Функция «Life-Guard» (Быстрый таймер)</li>
        <li>Функция защиты от детей</li>
        <li>Подключение 400 V 3N AC 50/60 Hz</li>
        <li>Размеры 220 х 250 х 60 мм</li>
        <li>Монтаж: частично встроенный или накладной</li>
        <li>Класс защиты: IP x4</li>
    </ul>
    </ul>
{% endblock %}
{% block path_to_instruction %}
    <a href="{{ url_for('static', filename='doc/iron_i.pdf') }}">Инструкция для электрической печи IRON I</a>
    <br>
    <a href="{{ url_for('static', filename='doc/iron_i_teh.pdf') }}">Брошюра IRON I</a>
    <br>
    <a href="{{ url_for('static', filename='doc/econ_d1.pdf') }}">Инструкция для пульта управления EOS ECON D1</a>
{% endblock %}
{% block img_path %}
    <img src="{{ url_for('static', filename='img/items/iron_i_econ.jpg') }}" alt="Электрическая печь для сауны IRON I, настенная модель и пульт ECON D1" width="100%">{% endblock %}
{% block price %}??,??? руб.{% endblock %}