{% extends "layout_items.html" -%}
{%- block title -%}Комплект IRON I + IRON Control {% endblock -%}
{% block description -%}Комплект оборудования для саун и бань: Электрическая печь IRON I и пульт управления IRON
    Contro{% endblock -%}
{%- block keywords -%}печи для сауны, печь для сауны, печи электрические для сауны, печь для сауны электрическая, печь
    купить, Iron, I, monuments, iron i, control, комплект, сауна, баня, пульт{%- endblock -%}
{% block name_of_item %}Комплект IRON I + IRON Control {% endblock %}
{% block little_desc_item %}{% endblock %}
{% block description_item %}
    <p>Для вашего удобства и экономии возможно приобретение товара в комплекте: электрическая печь
    для сауны IRON I + пульт управления IRON Control. При этом выгода составляет <b>4310 руб.</b></p>
    <br><hr><br>
    <p><h3>Электрическая печь для частных саун IRON I. Настенная модель </h3></p>
    <p> Компактная, стильная, современная электрическая печь для сауны. Разработка, тестовые испытания печи проходили в
        Германии. Огромное преимущество такой печи – увеличенный срок эксплуатации, благодаря внедрению немецких
        технологий. Корзина для камней находится над основанием нагревательных ТЭНов, соответственно нагревательный
        элемент не подвержен деформации.</p>

    <p>Корпус печи выполнен из качественной стали с покрытием глубокого, матового черного цвета, а внутренняя оболочка и
        корзина для камней изготовлены из нержавеющей стали. Компактные размеры позволяют осуществлять монтаж даже в
        небольших пространствах. Все это в сочетании с невысокой ценой делают печь IRON I фаворитом в своем сегменте.
        Заводская гарантия изготовителя на продукцию – 1 год. Электрическая печь IRON I подходит для саун от 6 до 14 м³,
        в зависимости от мощности печи.</p>
    <p><b>Технические характеристики:</b></p>
    <ul>
        <li>Напряжение: 400 V AC 3N 50Hz</li>
        <li>Потребляемая мощность: 6,0 / 7,5 / 9,0 кВт в зависимости от модели</li>
        <li>Высота: 64 см (*86 см с расстоянием до пола 22 см)</li>
        <li>Ширина: 44 см</li>
        <li>Глубина: 33 см</li>
        <li>Вес: 13 кг, без камней и упаковки</li>
        <li>Загрузка: до 15 кг (камни не входят в комплект поставки)</li>
        <li>Количество нагревательных тэнов: 3 шт</li>
    </ul>
    <br><hr><br>
    <p><h3>Пульт управления для электрических печей IRON CONTROL</h3></p>
    <p>Пульт предназначен для управления электрическими печами в режиме сухой (финской) сауны. Для частного
        использования.</p>
    <p>Компактное устройство осуществляет управление настройками всех функциональных возможностей домашней
        сауны, а
        именно: температурой в сауне, освещением и вентиляцией. При этом, навигация и меню интуитивно просты и
        понятны
        для абсолютно любого человека. Выбранные настройки и параметры отображаются на LCD дисплее. Пульт
        разработан и
        протестирован в Германии, и отвечает высоким европейским стандартам качества. Толщина пульта всего 60
        мм, что
        позволяет осуществлять встроенный монтаж.</p>
    <p><b>Технические характеристики:</b></p>
    <ul>
        <li>Корпус: серого цвета, изготовлен из алюминия и пластика</li>
        <li>Мультиязычное меню: 6 языков (русский, казахский, украинский, английский, французский, немецкий)
        </li>
        <li>Регулировка температуры: 40–115 °C</li>
        <li>Функция ограничения нагрева при температуре 139 °С</li>
        <li>Управление светом (до 500 Вт)</li>
        <li>Возможность подключения вентилятора</li>
        <li>Размеры (В х Ш х Г): 140 х 190 х 60 мм</li>
        <li>Напряжение: 400 V 3N AC 50Hz</li>
        <li>Коммутируемая мощность: до 9,0 кВт</li>
        <li>Класс защиты: IP x 4 по EN 60529 (защита от брызг)</li>
        <li>Температура эксплуатации: –10 до + 40 °С</li>
        <li>Вес: 1 кг</li>
        <li>Коммутируемая мощность: 9,0 кВт</li>
    </ul>
{% endblock %}
{% block path_to_instruction %}
    <a href="{{ url_for('static', filename='doc/iron_i.pdf') }}">Инструкция для электрической печи IRON I</a>
    <br>
    <a href="{{ url_for('static', filename='doc/iron_i_teh.pdf') }}">Брошюра IRON I</a>
    <br>
    <a href="{{ url_for('static', filename='doc/control_inst.pdf') }}">Инструкция для пульта управления IRON Control</a>
    <br>
    <a href="{{ url_for('static', filename='doc/control_teh.pdf') }}">Брошюра IRON Control</a>
{% endblock %}
{% block img_path %}
    <img src="{{ url_for('static', filename='img/items/iron_i_iron.jpg') }}"
         alt="Электрическая печь для сауны IRON I, настенная модель и пульт управления для электрических печей IRON CONTROL." width="100%">{% endblock %}
{% block price %}29,990 руб.{% endblock %}