{% from "macros.html" import def_contact_form, def_service_request_form with context -%}
{% extends "layout.html" -%}
{%- block title -%}Обратная связь {% endblock -%}
{#TODO Добавить описание и ключевики#}
{% block description -%}Оставьте заявку при помощи формы обратной связи.{% endblock -%}
{%- block keywords -%}Обратная связь, Monuments{%- endblock -%}
{% block content %}
    <div class="parallax-window" data-parallax="scroll" data-position-y="0px"
         data-image-src="{{ url_for('static', filename='img/header_02.jpg') }}"></div>
    <div class="title-of-the-page">
        <div class="wrapper-text">
            <h1>Обратная связь</h1>
        </div>
    </div>
    <div class="common-page">
        {{ def_contact_form() }}
    </div>
{% endblock %}