{% extends "layout.html" -%}
{%- block title -%}Главная {% endblock -%}
{% block description -%}{% endblock -%}
{%- block keywords -%}{%- endblock -%}
{% block content %}
<div class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/header_02.jpg') }}"></div>
<div class="main">
    <div class="wrapper-items">
        <div class="items">
            <div class="columns-main-page">
                <img src="{{ url_for('static', filename='img/items/r_iron.jpg') }}" width=100% alt="">
                <div class="title-thumb-item">
                    <h2>Печь для сауны IRON I</h2>
                </div>
                <div class="short-desc-item">
                    Электрическая печь для домашних саун.
                </div>
            </div>
            <div class="columns-main-page">
                <img src="{{ url_for('static', filename='img/items/r_control.jpg') }}" width=100% alt="">
                <div class="title-thumb-item">
                    <h2>IRON CONTROL</h2>
                </div>
                <div class="short-desc-item">
                    Пульт управления для сауны.
                </div>
            </div>
            <div class="columns-main-page">
                <img src="{{ url_for('static', filename='img/items/r_iron_control.jpg') }}" width=100% alt="">
                <div class="title-thumb-item">
                    <h2>Печь для сауны IRON I + IRON CONTROL</h2>
                </div>
                <div class="short-desc-item">
                    Комплект: электрическая печь для сауны и пульт управления.
                </div>
            </div>
            <div class="columns-main-page">
                <img src="{{ url_for('static', filename='img/items/r_iron_econ.jpg') }}" width=100% alt="">
                <div class="title-thumb-item">
                    <h2>Печь для сауны IRON I + ECON D1</h2>
                </div>
                <div class="short-desc-item">
                    Комплект: электрическая каменка для компактной сауны с пультом управления.
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <hr>
    <div class="text">
        <H1>MONUMENTS</H1>
        <p>В 2016 году на международный рынок вышла <b>компания MONUMENTS PRODUCTION GmbH</b>, Германия. Специализируется на изготовлении электрических печей для саун и пультов управления. Все оборудование разработано и протестировано на производственных мощностях в Германии, и отвечает высоким европейским стандартам качества.</p>
        <p>Оборудование было презентовано на выставке Inetrbad 2016, в немецком городе Штутгарт и получило огромное количество отзывов от потенциальных клиентов со всего мира. Основные преимущества оборудования – это качественное сырье, используемое в производстве, лаконичный и стильный дизайн, а также простота монтажа и эксплуатации.</p>
        <p>MONUMENTS входит в группу компаний Kunz & Meis, которой принадлежат такие бренды как EOS, KUSATEK, SPATRONIC и Maspo. Именно поэтому, при разработке оборудования, используется весь накопленный годами опыт и запатентованные разработки компаний консорциума.</p>
        <p>Основная идея завода – сделать качество доступным. По тому в производстве используются качественные материалы и сырье.</p>
        <p>Компания ООО «ЕОС Премиум-СПА-Технологии» является эксклюзивным представителем завода на территории России и стран СНГ.</p>
    </div>
</div>
{% endblock %}