{% extends "layout_items.html" -%}
{%- block title -%}IRON I {% endblock -%}
{% block description -%}Компактная электрическая печь для небольших саун IRON I.{% endblock -%}
{%- block keywords -%}печи для сауны, печь для сауны, печи электрические для сауны, печь для сауны электрическая, печи
    для бани и сауны, каменка для сауны, печь купить, Iron, I, monuments, iron i{%- endblock -%}
{% block name_of_item %}IRON I{% endblock %}
{% block little_desc_item %}Электрическая печь для частных саун IRON I.  Настенная модель{% endblock %}
{% block description_item %}
    <p> Компактная, стильная, современная электрическая печь для сауны. Разработка, тестовые испытания печи проходили в Германии. Огромное преимущество такой печи – увеличенный срок эксплуатации, благодаря внедрению немецких технологий. Корзина для камней находится над основанием нагревательных ТЭНов, соответственно нагревательный элемент не подвержен деформации.</p>

    <p>Корпус печи выполнен из качественной стали с покрытием глубокого, матового черного цвета, а внутренняя оболочка и корзина для камней изготовлены из нержавеющей стали. Компактные размеры позволяют осуществлять монтаж даже в небольших пространствах. Все это в сочетании с невысокой ценой делают печь IRON I фаворитом в своем сегменте. Заводская гарантия изготовителя на продукцию – 1 год. Электрическая печь IRON I подходит для саун от 6 до 14 м³, в зависимости от мощности печи.</p>
    <p><b>Технические характеристики:</b></p>
    <ul>
        <li>Напряжение:  400 V AC 3N 50Hz</li>
        <li>Потребляемая мощность:  6,0 / 7,5 / 9,0 кВт в зависимости  от модели</li>
        <li>Высота:  64 см (*86 см с расстоянием до пола 22 см)</li>
        <li>Ширина:  44 см</li>
        <li>Глубина:  33 см</li>
        <li>Вес:  13 кг, без камней  и упаковки</li>
        <li>Загрузка:  до 15 кг (камни не входят   в комплект поставки)</li>
        <li>Количество нагревательных тэнов:  3 шт</li>
    </ul>
{% endblock %}
{% block path_to_instruction %}
    <a href="{{ url_for('static', filename='doc/iron_i.pdf') }}">Инструкция для электрической печи IRON I</a>
    <br>
    <a href="{{ url_for('static', filename='doc/iron_i_teh.pdf') }}">Брошюра IRON I</a>
{% endblock %}
{% block img_path %}
    <img src="{{ url_for('static', filename='img/items/iron_i.jpg') }}" alt="Электрическая печь для сауны IRON I, настенная модель" width="100%">{% endblock %}
{% block price %}24,900 руб.{% endblock %}