<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- block title -%}{%- endblock -%} | Monuments</title>
    <meta name="description" content="{% block description -%}{% endblock -%}">
    <meta name="keywords" content="{%- block keywords -%}{%- endblock -%}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/parallax.min.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}?v=1">
</head>
<body>
{% with messages = get_flashed_messages() -%}
    {% if messages -%}
        <ul class=flashes>
            {% for message in messages -%}
                <li>{{ message }}</li>
            {% endfor -%}
        </ul>
    {% endif -%}
{% endwith -%}
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="logo">
                    <a href="/"><img src="{{ url_for('static', filename='img/monuments-logo.png') }}" alt=""></a>
                </div>
                {# Navigation
                ======================================= -#}
                {% include 'top_nav.html' -%}
            </div>
        </div>
    </header>
{% endblock -%}
{% block content -%}{% endblock -%}
<footer>
    <div class="left-footer">
        <img src="{{ url_for('static', filename='img/monuments-logo-footer.png') }}" alt="">
    </div>
    <div class="center-footer">.</div>
    <div class="right-footer">
        ООО "ЕОС Премиум-СПА-Технологии"
        <br>
        Россия, г. Москва, м. Румянцево,
        <br>
        Киевское шоссе, БП Румянцево
        <br>
        Строение 1, корп. Г, оф. 928
        <br>
        +7 (495) 66 55 192
        <br>
        8 800 1000 539
        <br>
        (звонок бесплатный)
        <br>
        info@eos-sauna.ru
    </div>
    <div style="clear:both;"></div>
</footer>
</body>
</html>