{% extends "layout.html" -%}
{% block content %}
    <div class="parallax-window" data-parallax="scroll" data-position-y="0px"
         data-image-src="{{ url_for('static', filename='img/header_02.jpg') }}"></div>
    <div class="title-of-the-page">
        <div class="wrapper-text">
            <h1>{% block name_of_item %}IRON Control{% endblock %}</h1>
            <h2>{% block little_desc_item %}{% endblock %}</h2>
        </div>
    </div>
    <div class="item-properties-page">
        <div class="img-wrapper">
            {% block img_path %}{% endblock %}
            <div class="price"><span>{% block price %}{% endblock %}</span></div>
        </div>
        <div class="text-of-item">
            {% block description_item %}{% endblock %}
            <hr>
            <div class="pdf-instruction">
                <img src="{{ url_for('static', filename='img/pdf_icon.png') }}" alt="">
                <div class="text-instruction">{% block path_to_instruction %}{% endblock %}</div>
            </div>
        </div>
    </div>
{% endblock %}