<nav>
    <div>
        <a><span>Контакты</span></a>
        <div>
            <a href="">Как добраться</a>
            <a href="">Обратная связь</a>
            <a href="">Где купить</a>
            <a href="">Сервисный центр</a>
        </div>
    </div>
    <div>
        <a href="items.html"><span>Продукты</span></a>
        <div>
            <a href="iron_control.html">IRON Control</a>
            <a href="iron.html">IRON I</a>
            <a href="combo_iron_control.html">Комплект IRON I + IRON Control</a>
            <a href="combo_iron_econ.html">Комплект IRON I + ECON D1</a>
        </div>
    </div>
    <div>
        <a href="index.html"><span>Главная</span></a>
    </div>
</nav>