<nav>
    <div>
        <a href="items.html"><span>Продукты</span></a>
        <div>
            <a>IRON Control</a>
            <a>IRON I</a>
            <a>Комплект IRON I + IRON Control</a>
            <a>Комплект IRON I + ECON D1</a>
        </div>
    </div>
    <div>
        <a><span>Где купить</span></a>
    </div>
    <div>
        <a><span>Обратная связь</span></a>

    </div>
    <div>
        <a><span>Как добраться</span></a>
    </div>
    <div>
        <a><span>Сервисный центр</span></a>
    </div>
</nav>